#header{
	position:fixed;
	top:0px;
	z-index:0;
}

#nav_ul{
	list-style-type:none;
	margin:0px;
	padding:10px;
	overflow:hidden;
	text-align:center;
}

#nav_li{
	display:inline-block;
	padding:8px;
}

#nav_text{
	font-family: 'Josefin Sans', sans-serif;
	font-weight:bold;
	font-size:10pt;
	color:#ecf0f1;
	letter-spacing:2px;
}